body {
 background-image: url("../img/StarsOnTheBayou-BackgroundArt.png");
 background-color: #ffffff;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;

 font-family: "custard";
 margin: 10px 0;
 max-width: 1112px;
}

@media screen and (min-width: 1112px) {
  body {
    margin: 10px auto;
  }
}

.title-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 15px;
}

.no-padding {
  padding: 0px;
  margin: 0px;
  line-height: 1;
}

h3 {
  font-family: "myriad-pro";
  font-weight: 400;
  font-size: 18px;
}

h1 {
  font-weight: 400;
  font-size: 96px;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 36px;
  text-align: right;
}

a {
  text-shadow: 2px 2px 2px #888888;
  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 5s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 5s infinite;

  /* Standard Syntax */
  animation: rainbow 5s infinite;
}


.important-points {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 25px;
}

.important-points p {
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;

  background-color: #000000;
  color: #ffffff;
  text-align: center;

  width: 400px;
  padding: 15px 0px;
  border-radius: 100%;
  margin: 0px auto;
}

.important-points .reverse {
  background-color: #ffffff;
  color: #000000;
}

.shift-up {
  position: relative;
  top: -50px;
}

.black-background-curve {
  padding-top: 100px;
  margin: 0px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

.black-background-curve-reverse {
  padding-top: 50px;
  margin: 0px;
  border-bottom-left-radius: 200%;
  border-bottom-right-radius: 200%;
}

.black-background {
  padding: 50px 0px;
  border-radius: 30%;

  background-color: #000000;
  color: #ffffff;
  z-index: -1;
}

.final-points {
  display: flex;
  align-items: flex-start;

  margin: 0px 15px;
  font-size: 24px;
  line-height: 24px;
}

.final-points p {
  margin: 0px;
  padding: 0px;
}

.right {
  width: 50%;
  text-align: right;
}

.left {
  width: 50%;
  text-align: left;
}

.footnote {
  font-size: 18px;
}

.last-circle {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: -50px 0px;
}

.last-circle p {
  padding: 31px 0px;
}

@media only screen and (max-width: 690px) {
  .final-points {
    flex-direction: column-reverse;
  }

  .left, .right {
    text-align: center;
    width: 100%;
    margin: 15px 0px;
  }
}

@media only screen and (max-width: 630px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 515px) {
  h3 {font-size: 16px;}
  h2 {font-size: 24px;}
  h1 {font-size: 48px;}

  .important-points p {
    font-size: 24px;
    max-width: 335px;
  }

  .final-points {
    font-size: 21px;
    line-height: 21px;
  }

  .footnote {
    font-size: 16px;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
0%{color: orange;}
10%{color: purple;}
20%{color: red;}
30%{color: CadetBlue;}
40%{color: yellow;}
50%{color: coral;}
60%{color: green;}
70%{color: cyan;}
80%{color: DeepPink;}
90%{color: DodgerBlue;}
100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
 0%{color: orange;}
10%{color: purple;}
20%{color: red;}
30%{color: CadetBlue;}
40%{color: yellow;}
50%{color: coral;}
60%{color: green;}
70%{color: cyan;}
80%{color: DeepPink;}
90%{color: DodgerBlue;}
100%{color: orange;}
}

/* Standard Syntax */
@keyframes rainbow{
  0%{color: orange;}
10%{color: purple;}
20%{color: red;}
30%{color: CadetBlue;}
40%{color: yellow;}
50%{color: coral;}
60%{color: green;}
70%{color: cyan;}
80%{color: DeepPink;}
90%{color: DodgerBlue;}
100%{color: orange;}
}
